@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3vh;
  letter-spacing: -.15vh;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

input, button {
  font-family: 'Share Tech Mono', monospace;
  user-select: none;
}

button {
  border-radius: .33rem;
  border: .1rem solid rgba(220, 220, 220, .8);
  padding: .5rem 1rem;
  background: rgba(220, 220, 220, .6);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 1);
  transition: background .25s;

  &:hover, &:active {
    background: rgba(220, 220, 220, .8);
  }
}

@import './css/airplane.scss';
@import './css/controls.scss';
