.controls {
  @include full;
  @include center;
  background: black;

  &-code {
    @include full;
    @include center;
    transition: visibility .5s, opacity .5s;

    &-description {
      font-size: 4vw;
      color: white;
      margin: 0;
    }

    &-input {
      width: calc(50% + 20vw);
      height: 20vw;
      margin: 10vw 0 10vw 20vw;
      letter-spacing: 10vw;
      font-size: 10vw;
      padding: 4vw;
      border: 0;
      outline: none;
      color: transparent;
      text-shadow: 0 0 0 rgb(50, 50, 50);
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      text-transform: uppercase;
      background: transparent;
      background: url('assets/images/code-boxes.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: rgb(100, 100, 100);
      }

      &.error {
        text-shadow: 0 0 0 rgb(200, 0, 0);
      }
    }

    &-hint {
      font-size: 3vw;
      color: white;
      margin: 0;
      text-align: center;
      &::first-line {
        font-size: 5vw;
        font-style: italic;
        margin: 1vw;
      }
    }
  }

  &-enable {
    position: absolute;
    bottom: 6rem;
  }

  &-rotate-device {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    background: url('assets/images/rotate-device.svg');
  }

  &-background {
    z-index: -2;
    @include full;
    background-image: url('assets/images/yoke.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-debug {
    position: absolute;
    color: white;
  }

  &-controller {

    position: absolute;
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);

    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
    }
  }

  &-scene {
    position: absolute;
    width: 400px;
    height: 400px;
    // z-index: -1;
  }
}
